* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: rgb(250,250,250);
}

.mainContainer {
  display: flex;
}

.topContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5vh
}

.welcomeUser {
  display: flex;
  align-items: center;
  margin-left: 4vw;
}

.user {
  width: 3vw;
  height: 3vh;
  margin: 0 1vw 0 1vw;
}

.leftContainer,
.rightContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.leftContainer {
  width: 60vw;
}

.rightContainer {
  width: 40vw;
}

p {
  margin: 3px;
}

.number-displays {
  font-weight: 700;
  font-size: larger;
}

.hydrationCont,
.sleepCont, 
.activityCont, 
.userInfoCont, 
.goalChartCont, 
.friendCont {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 98%;
  height: 30%;
  background-color: rgb(255,255,255);
  box-shadow: 0.25em 0.25em 0.25em grey;
}

.activity-stats,
.water-stats,
.sleep-stats,
.sleep-stats2 {
  width: 15%;
  max-width: 110px;
  height: 90%;
  margin: 1%;
  background-color: rgb(87,252,147);
  border-radius: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.water-stats {
  background-color: rgb(39, 186, 244);
}

.hydration-input {
  font-size: 17px;
  width: 8vw;
  height: 5vh;
  background-color: rgb(127, 212, 245);
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(127, 212, 245);
  margin-left: 3em;
}

.sleep-stats,
.sleep-stats2 {
  background-color: rgb(203 149 243);
}

.weeklySleepChart {
  height: 400px;
}

.goalChartCont {
  justify-content: center;
}

.stepGoalChart {
  width: 425px;
}

.friendCont {
  display: grid;
  border-radius: 5px;
  width: 98%;
  height: 30%;
  background-color: rgb(255,255,255);
  box-shadow: 0.25em 0.25em 0.25em grey;
  grid-template-columns: repeat(3,33%);
  column-gap: normal;
  row-gap: normal;
  overflow-y: scroll;
}

.personalInfoHead {
  margin: 0;
  border-bottom: 1.5px solid black;
}

.leftUser {
  width: 70%;
  height: 100%;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.rightUser {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userIdInfo,
#userNameInfo,
#userAddressInfo,
#userEmailInfo {
  margin: 0
}

.strideLengthCont,
.stepGoalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin:0;
  border: 0
}

.header4 {
  border-bottom: 1.5px solid black;
  margin:0
}

.userStrideLength,
.userStepGoal {
  margin: 0
}

.bi {
  width: 3vw;
  height: 7vh;
}

.bi-fast-forward-fill {
  color: rgb(87,252,147);
}

.bi-sunrise-fill {
  color: rgb(57, 64, 233); 
}

.left-icons {
  display: flex;
  width: 8rem;
}

.droplet,
.sleep,
.activity {
  width: 10vw;
  height: 10vh
}

.droplet {
  color: rgb(39, 186, 244);
}

.sleep {
  color: rgb(203 149 243);
}

.activity {
  color: rgb(87,252,147);
}

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modalClose {
  background: transparent;
  border: 0;
}

.modalClose:hover {
  background-color: #00449e;
}

.modal__header .modalClose:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.hidden {
  display: none;
}

.dragLeft {
  cursor: move;
}