* {
  /* border: solid 1px red; */
  font-family: 'Nunito', sans-serif;

}
/* body, html {
  border-style: solid;
} */

body {
  background-color: rgb(250,250,250);
}

/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */
.topContainer {
  display: flex;  
  align-items: center;
  width: 100vw;
  height: 5vh
}
.mainContainer {
  display: flex;
}

.leftContainer{
  width: 60vw;
  height: 90vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rightContainer {
  width: 40vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hydrationCont, 
.sleepCont, 
.activityCont, 
.userInfoCont, 
.friendStatCont, 
.friendCont {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 98%;
  height: 30%;
  background-color: rgb(255,255,255);
  box-shadow: 0.25em 0.25em 0.25em grey;
}

.friendStatCont {
  justify-content: center;
}

.stepGoalChart {
  height: 275px;
}

.hydrationCont {
  display:flex
}
.activityCont {
  display: flex;
}

.activity-stats,
.water-stats {
  width: 15%;
  max-width: 110px;
  height: 90%;
  margin: 1%;
  background-color: rgb(87,252,147);
  border-radius: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.water-stats {
  background-color: rgb(39, 186, 244);
}

.number-displays {
  font-weight: 700;
  font-size: larger;
}

p {
  margin: 3px;
}

.friendCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.friend1, 
.friend2, 
.friend3 {
  width: 80%;
  border-radius: 7px;
  margin-left: 5px;
}
.rightContainer .friendCont {
  display:flex;
  align-items: baseline;
}

.droplet,
.sleep,
.activity {
  /* border: solid 1px red; */
  width: 10vw;
  height: 10vh
}

.droplet {
  color: rgb(39, 186, 244);
}

.sleep {
  color: rgb(137, 85, 186);
}

.activity {
  color: rgb(87,252,147);
}

.welcomeUser {
  display: flex;
  align-items: center
}

.user {
  width: 3vw;
  height: 3vh
}

.calendar {
  width: 3vw;
  height: 3vh
}

.sleepCont {
  display: flex;
}